<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>Amazon</title>
</head>

<body>
    <div className="grid-container">
        <header className="row">
            <div>
                <a className="brand" href="index.html">Amazon</a>
            </div>
            <div>
                <a href="card.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div className="row center">
                <div className="card">
                    <a href="producto.html">
                        <img className="medium" src="./images/producto1.jpg" alt="product">
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Chaqueta Jack Jones</h2>
                        </a>
                        <div className="rating">
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                        </div>
                        <div className="price">
                            <span>102$</span>
                        </div>
                    </div>
                </div>

                <div className="card">
                    <a href="producto.html">
                        <img className="medium" src="./images/producto1.jpg" alt="product">
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Chaqueta Jack Jones</h2>
                        </a>
                        <div className="rating">
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                        </div>
                        <div className="price">
                            <span>102$</span>
                        </div>
                    </div>
                </div>

                <div className="card">
                    <a href="producto.html">
                        <img className="medium" src="./images/producto1.jpg" alt="product">
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Chaqueta Jack Jones</h2>
                        </a>
                        <div className="rating">
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                        </div>
                        <div className="price">
                            <span>102$</span>
                        </div>
                    </div>
                </div>

                <div className="card">
                    <a href="producto.html">
                        <img className="medium" src="./images/producto1.jpg" alt="product">
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Chaqueta Jack Jones</h2>
                        </a>
                        <div className="rating">
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                        </div>
                        <div className="price">
                            <span>102$</span>
                        </div>
                    </div>
                </div>

                <div className="card">
                    <a href="producto.html">
                        <img className="medium" src="./images/producto1.jpg" alt="product">
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Chaqueta Jack Jones</h2>
                        </a>
                        <div className="rating">
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star-half-o"></i></span>
                        </div>
                        <div className="price">
                            <span>102$</span>
                        </div>
                    </div>
                </div>

                <div className="card">
                    <a href="producto.html">
                        <img className="medium" src="./images/producto1.jpg" alt="product">
                    </a>
                    <div  className="card-body">
                        <a href="product.html">
                            <h2>Chaqueta Jack Jones</h2>
                        </a>
                        <div className="rating">
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fa fa-star"></i></span>
                            <span> <i className="fas fa-star-half-alt"></i></span>
                            <span> <i className="far fa-star"></i></span>
                        </div>
                        <div className="price">
                            <span>102$</span>
                        </div>
                    </div>
                </div>
            </div>  

        </main>
        <footer className="row center">
            All right reserved 2020
        </footer>
    </div>

</body>

</html>